
<h1 class = "text-center">Eat Da Burger!</h1>


<div class= "col-xs-12">

	<div class = "col-xs-6">
		{{#each burger}}
		{{#unless this.devoured}}
		<div class = "well">
			
		<form action="/devour/{{this.id}}" method="POST">        	 
		<input type="hidden" name="devoured" value="false">
		
        <button type="submit" class = "btn btn-success">Devour</button>
       	</form>

       		 <p> {{this.id}}. {{this.burger_name}}</p>
			</div>


		{{/unless}}
		{{/each}}
	</div>

	<div class = "col-xs-6">
		{{#each burger}}
		{{#if this.devoured}}
		<div class = "well" id="eaten">
			<p> {{this.id}}. {{this.burger_name}}
			</p>
			</div>
		{{/if}}
		{{/each}}
	</div>

</div>


<div class="row">
	<div class = "col-xs-3"></div>
		<div class="col-xs-6">
			<form action="/" method="POST">
			  <div class="form-group">
			    <label for="input">Your Burger</label>
			    <textarea type="text" class="form-control" name="input" placeholder="your new Burger"></textarea>
			  </div>
			  <button type="submit" class="btn btn-primary" id="submit">Submit</button>
			</form>
		</div>
	<div class = "col-xs-3"></div>
</div>